@import "../variables.scss";

input {
  outline: none; // Each input will individually decide how to style it's own :focus
  min-width: 10px;
}

.ui-text-input {
  width: 100%;
  border-radius: $text-input-border-radius;
  background-color: $primary-background;
  border: $primary-border;
  padding: 0 0.6em;

  transition: border 0.15s;

  &:focus {
    border: 1px solid $primary-color;
  }
}

.ui-text-input-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  border-radius: $text-input-border-radius;
  border: $primary-border;
  
  background-color: $secondary-color;
  color: $primary-color;
  width: 1.7em;
  min-width: 1.7em;

  .icon {
    align-self: center;
  }
}