// Variables for SCSS

// -- Colors
$primary-color: #4383cc;
$secondary-color: #ddd;
$primary-background: #fff;
$secondary-background: #f0f0f0;
$text-color: #333;

$blue: #355da8;
$green: green;
$red: red;

$blue-background: #e8f5ff;
$green-background: #f5fff6;
$red-background: #fff0f0;

$blue-background-darker: #d4ecff;
$green-background-darker: #e0ffe3;
$red-background-darker: #ffdede;


// -- Borders
$primary-border: 1px solid #bbb;

// -- Font
$font-family: Arial, Geneva, Helvetica, sans-serif;

// -- Dimensions
$text-input-border-radius: 2px;
$button-border-radius: 2px;
$text-input-height: 2em;